<app-navbar></app-navbar>
<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Nombre</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" disabled value={{identity.nombre}}>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Apellido</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" disabled value={{identity.apellido}}> 
      </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Username</label>
      <input type="text" class="form-control" id="exampleInputPassword1" disabled value={{identity.username}}>
    </div>
    <button type="submit" class="btn btn-primary" data-bs-target="#actualizarModal" data-bs-toggle="modal">Actualizar</button>
    <button type="submit" class="btn btn-primary" (click)="eliminarUsuario()">Eliminar</button>
  </form>

  
  <!-- Modal -->
  <div class="modal fade" id="actualizarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="actualizarUsuario()">
                <div class="form-group">
                  <label for="exampleInputEmail1">Nombre</label>
                  <input [(ngModel)]="identity.nombre" name="nombre" type="email" class="form-control" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Apellido</label>
                    <input [(ngModel)]="identity.apellido" name="apellido" type="email" class="form-control"  aria-describedby="emailHelp"> 
                  </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Username</label>
                  <input [(ngModel)]="identity.username" name="useraname" type="text" class="form-control" >
                </div>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Actualizar</button>
              </form>
        </div>
      </div>
    </div>
  </div>