<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoteles</title>

    <link rel="stylesheet" href="./habitacion.component.css" />
</head>
<body>
    
    <header>
        <h1>Habitaciones</h1>
        <form id="new-sucursal">
            <input type="submit"
                    id="new-sucursal-submit"
                    value="Add habitacion" 
                    *ngIf="identity.role=='HOTELADMIN'"
                    data-bs-target="#modalAgregar"
                    data-bs-toggle="modal"/>
        </form>
    </header>
 
    <main>

        <section class="sucursal-list">
            <h2>Habitacion</h2>

            <div id="sucursales">

                <div class="sucurusal" *ngFor="let habitacion of habitaciones">
                    <div class="content">
                        <input 
                            type="text"
                            class="text"
                            value={{habitacion.numero}}
                            readonly
                            />
                            <input 
                            type="text"
                            class="number"
                            value={{habitacion.precio}}
                            readonly
                            />
                            <input 
                            type="text"
                            class="number"
                            value={{habitacion.descripcion}}
                            readonly
                            />
                            <div class="actions">
                                <button class="edit" data-bs-target="#modalActualizar" data-bs-toggle="modal" (click)="getOneHabitacion(habitacion)" *ngIf="identity.role=='HOTELADMIN'"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                  </svg></button>
                                <button class="delete" (click)="eliminarHabitacion(habitacion)" *ngIf="identity.role=='HOTELADMIN'"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash2-fill" viewBox="0 0 16 16">
                                    <path d="M2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225zm9.89-.69C10.966 2.214 9.578 2 8 2c-1.58 0-2.968.215-3.926.534-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466-.18-.14-.498-.307-.975-.466z"/>
                                  </svg></button>
                                  <button (click)="obtenerHabitacionStorage(habitacion)" *ngIf="identity" routerLink="/reservacion"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-check-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                                  </svg></button>
                                
                            </div>
                    </div>
                   
                </div>


            </div>

        </section>

    </main>


</body>
</html>

  <!-- Modal -->
  <div class="modal fade" id="modalAgregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #agregarForm="ngForm" (submit)="agregarHabitacion(agregarForm)">
                <div class="form-group">
                  <label for="exampleInputEmail1">Descripcion</label>
                  <input [(ngModel)]="habitacion.descripcion"  name="descripcion" type="text" class="form-control" aria-describedby="nombre del hotel">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Precio</label>
                    <input [(ngModel)]="habitacion.precio"  name="precio" type="text" class="form-control" aria-describedby="nombre del hotel">
                  </div>
                <button type="submit" class="btn btn-success" style="color:black" data-bs-dismiss="modal">Submit</button>
              </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

    <!-- Modal -->
    <div class="modal fade" id="modalActualizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Actualizar Habitacion</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form #actualizarForm="ngForm" (submit)="actualizarHabitacion(actualizarForm)">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Descripcion</label>
                      <input [(ngModel)]="oneHabitacion.descripcion"  name="descripcion" type="text" class="form-control" aria-describedby="nombre del hotel">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Precio</label>
                        <input [(ngModel)]="oneHabitacion.precio"  name="precio" type="text" class="form-control" aria-describedby="nombre del hotel">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Reservada</label>
                        <input [(ngModel)]="oneHabitacion.reservada"  name="reservada" type="text" class="form-control" aria-describedby="nombre del hotel">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Ocupada</label>
                        <input [(ngModel)]="oneHabitacion.ocupada"  name="ocupada" type="text" class="form-control" aria-describedby="nombre del hotel">
                      </div>
                    <button type="submit" class="btn btn-success" style="color:black" data-bs-dismiss="modal">Submit</button>
                  </form>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
